.panel {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.panel li,
.panel input {
  margin-right: 5px;
}

.panel li {
  padding: 10px;
  cursor: pointer;
  border: 1px solid blueviolet;
  border-radius: 10%;
  color: darkslategray;
}

.panel input {
  padding: 0;
  width: 3rem;
  height: 3rem;
  border: none;
  background: none;
  overflow: hidden;
}
